GBL_CREDITCARDS_TRAVELNOTICE_POST_NORTHAMERICA
Global POST /creditCards/travelNotice (North America)
{"northAmericaStartDate": "${#[Main#MAIN_TEST_PARAM#Global_Dates]#GBL_DATE_PLUS_49_DAYS}", "northAmericaEndDate": "${#[Main#MAIN_TEST_PARAM#Global_Dates]#GBL_DATE_MINUS_56_DAYS}"}
