GBL_APPLICATIONPARAMETERS_POST_DEFAULT
Global POST & PUT /applicationParameters (Default)
{ "parameterName" : "NEW_PARAM", "parameterValue" : "100", "parameterType" : "1", "parameterDesc" : "Test", "parameterGroupId" : "3" } 
