GBL_PAYMENTRECEIPTEMAIL_ID_PUT_DEFAULT
Global PUT /paymentReceiptEmail/id (Default)
{ "barcode" : "85793423600001200984905090000374503606001140", "bankingAuthentication" : "123", "email" : "junlu@paran.com", "debitDate" : "${#[Main#MAIN_TEST_PARAM#Global_Dates]#GBL_DATE_YESTERDAY}", "paymentType" : "Past Payment", "accountType" : "CURRENT" }
