GBL_PROSPECTS_POST_FULL
Global POST /Prospects (FULL)
{  "cpf": "78989067845",  "prospectName": "Mark Antony",  "email": "mark.antony@capco.com",  "category": "INFLUENCER",  "origin": "SITE",  "smsPermission": true,  "phoneNumber": 45433222,  "areaCode": 11,  "countryCode": 55}
