GBL_LOGIN_POST_DEFAULT
Global POST /login (DEFAULT)
{ "cpf": "66260062311", "password": "66260062311", "riskScore": 2, "latitude": 43.7, "longitude": -79.4, "device": ${LOCAL_JSON_TEMPLATES#TC_DEVICE_BLOCK_DEFAULT}}
