GBL_PARTNER_POST_DEFAULT
Global POST /Partner (DEFAULT)
{   "address": "string",   "altPhoneNumber": "string",   "cnpj": "94087389000107",   "contactName": "string",   "description": "string",   "email": "email2@email.com",   "fantasyName": "string",  "name": "string",   "partnershipStartDate": "${#[Main#MAIN_TEST_PARAM#Global_Dates]#GBL_DATE_MINUS_14_DAYS}",   "phoneNumber": "string" } 
