GBL_VAQUINHAS_POST_DEFAULT
Global POST /vaquinhas & PUT /vaquinhas/{vaquinhasId} (Default)
{ "amount": "50", "expiryDate": "${#[Main#MAIN_TEST_PARAM#Global_Dates]#GBL_DATE_PLUS_7_DAYS}", "name": "Gift for Dan", "description": "Let's all buy Dan some Shoes", "vaquinhaTypeCode": "Gift"}
