GBL_PAYMENT_DELETE_DEFAULT
Global DELETE PAYMENT (DEFAULT)
{ "barcode" : "85830000000968002702003110876760001802016029", "uniqueId" : 17541, "paymentDate" : "${#[Main#MAIN_TEST_PARAM#Global_Dates]#GBL_DATE_TOMORROW}", "accountType" : "CURRENT" }
