GBL_CREDITLINE_POST_DEFAULT
POST /creditLine (Default)
{ "firstInstallmentDueDate":"${#[Main#MAIN_TEST_PARAM#Global_Dates]#GBL_DATE_PLUS_7_DAYS}", "creditInsuranceInd":"YES", "qtdInstallment":24, "amount":4800.00, "description": "Holiday", "interimAgreementNo": 1 }
