GBL_SUBMITAPPLICATIONANDCODES_POST_DEFAULT
Global POST /submitApplicationAndCodes (DEFAULT)
{  "email": "QASubmitApp@host.br",  "isEmailTermsAndConditions": false,  "termsAndConditionsUIDs": [ 12, 13, 14, 15, 16, 17, 18 ]}
