device_json
POST /login device
{ "deviceId": "serialnumber", "areaCode": { "lol":"what", "is":7}, "phone": 5551212, "browserSupplier": "Google", "browserUserAgent": "Mozilla/5.0 (Linux Android 4.0.4 Galaxy Nexus Build/IMM76B) AppleWebKit/535.19 (KHTML, like Gecko) Chrome/18.0.1025.133 Mobile Safari/535.19", "carrier": "Telefonica", "chipIccid": "89911012000032045101505", "countryCode": 1, "countryIsoCd": "BR", "imei": "990000862471854", "mac": "00:0a:95:9d:68:16", "maker": "Samsung", "serialNumber": "2222222", "model": "Galaxy S7", "os": "Android", "osStatusId": 0, "osVersion": "5.1", "tokenDevice": "xyz" }