GBL_TRANSFERS_TRANSFERID_RECEIPTS_EMAIL_DEFAULT
Global POST /transfers/{transferId}/receipts/emails (DEFAULT)
{ "recipientBankId" : 237, "recipientBranchId" : 456, "email" : "luiz.carvalho2@host.br", "recipientAccountNumber" : 3456789, "recipientAccountId" : 0, "transferDate" : "${#[Main#MAIN_TEST_PARAM#Global_Dates]#GBL_DATE_YESTERDAY}", "description" : "submit internal transfer", "amount" : 99999.99 }
