GBL_OFFER_PUT_DEFAULT
Global PUT /offer (DEFAULT)
{   "businessID": "BUSINESS ID",   "contractDescription": "CONTRACT DESCRIPTION",   "contractRemunerationType": "m",   "contractSignedDate": "${#[Main#MAIN_TEST_PARAM#Global_Dates]#GBL_DATE_MINUS_14_DAYS}",   "contractValue": 0,   "description": "DESCRIPTION",   "endDate": "${#[Main#MAIN_TEST_PARAM#Global_Dates]#GBL_DATE_PLUS_3_MONTHS}",   "grossUnitCost": 0,   "name": "OFFER NAME",   "netUnitRevenue": 0,   "offerCategoryCode": "sp",   "offerType": "v",   "startDate": "${#[Main#MAIN_TEST_PARAM#Global_Dates]#GBL_DATE_TOMORROW}",   "termsAndConditionsDescription": "T AND C'S",   "usageDescription": "USSAGE DESCRIPTION",   "version": 0 }
