GBL_PAYMENT_POST_NOPAYER_NOBENEFICIARY
Global POST /payment (No Payer or Beneficiary)
{ "barcode":"85830000000968002702003110876760001802016029", "amount":3500, "description":"breakfast bill", "paymentDate":"${#[Main#MAIN_TEST_PARAM#Global_Dates]#GBL_DATE_TODAY}", "accountType":"CURRENT" }
