GBL_TRANSFERS_POST_EXTERNAL
Global POST /transfers (Transfer to External Account (immediate transfer) not in Contact List)
{ "modality": "TED", "recipientBranchId": 212, "recipientAccountNumber": 2121, "recipientBankId" : 144, "recipientAccountType": "0","recipientName": "CA3", "recipientCpfCnpj": "11122233344", "recipientBankIspb": "00000000", "transferDate" : "${#[Main#MAIN_TEST_PARAM#Global_Dates]#GBL_DATE_TODAY}", "purpose" : "0000", "description" : "Validate External Transfer", "amount" : 3000, "accountType" : "1", "transferTypeCode": "0" }
