GBL_PROPOSAL_BLOCK_DEFAULT
Global Proposal Block (Default)
{ "uniqueID": 2, "planAmount": 1, "planCode": 1, "planEndDate": "${#[Main#MAIN_TEST_PARAM#Global_Dates]#GBL_DATE_PLUS_1_YEAR}", "planFreePeriod": "5 months", "planName": "Basic Plan", "planStartDate": "${#[Main#MAIN_TEST_PARAM#Global_Dates]#GBL_DATE_MINUS_1_MONTH}", "planStatus": 0, "supportCredit": "Y", "listOfproducts": [${LOCAL_JSON_TEMPLATES#TC_PRODUCT_BLOCK_NO_UNIQUEID}]}
