GBL_PAYMENT_CATEGORY_ID_PUT_DEFAULT
Global POST /payment/category/paymentID (Default)
{ "barcode" : "23793423600001209020105090000374503606001140", "categoryId" : 1, "paymentDate" : "${#[Main#MAIN_TEST_PARAM#Global_Dates]#GBL_DATE_TOMORROW}", "amount" : 50, "accountType" : "CURRENT" }
